body {      
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  left: 0px;
  top: 0px;
  background: #000000;
}

#link {
  position: absolute;
  width: 186px;
  height: 34px;
  left: 85%;
  top: 3%;
  margin-right: 30px;
  color: #FFFFFF;
}

.link :hover {
  color: #E3A649;
} 

a {
  text-decoration: none;
  color: #cdcdcd;
}

a:hover {
  color: tomato;
}

#menuToggle {
  display: inline-block;
  margin: 16px;
  position: relative;
  left: 0;
  right: 0;
  top: 0;   
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}
/* Burger menu */

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*  Transform burger into a cross*/
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
  
#menu {
  display: block; 
  position: fixed;
  width: 300px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  padding: 50px;
  padding-top: 125px;
  border: 2px solid white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-10000%);
}
   
 
#menu li {
  position: relative;
  text-align: center;      
  padding: 10px 0;
  font-size: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 63px;
}

#menu div {
  margin-top: -30%;
} 
 
#menuToggle input:checked ~ ul {
  transform: translate(-50%, -50%);
}

#video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

#bottomBar {
  position: absolute;
  width: 100%;
  height: 10%;
  left: 0px;
  top: 90%;
  background: #000000;
  text-align: center;
}

#bottomBar :first-child {
  position: relative;
  width: 246px;
  height: 70%;
  border: 1.5px solid #FFFFFF;
  box-sizing: border-box;
  margin: 20px 0;
}

/* App page */

#appTitle {
  position: absolute;
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 42px;
  color: #FFFFFF;
  width: 502px;
  height: 90px;
  left: 218px;
  top: 147px;
}

#appText {
  position: absolute;
  width: 487px;
  height: 235px;
  left: 218px;
  top: 267px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  color: #FFFFFF;
}

#GoldButton {
  position: absolute;
  width: 215px;
  height: 54px;
  left: 223px;
  top: 556px;
  border: 1.5px solid #E3A649;
  box-sizing: border-box;
  border-radius: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  /* or 19px */
  align-items: center;
  text-align: center;
  font-variant: small-caps;
  /* Gold */
}

/* Player */

.audioButton {
  z-index: 9;
  position: absolute;
  left: 25px;
  top: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#buttonMuteSound {
  color: red;
  right: 0%;
  z-index: 9;
  position: absolute;
  bottom: -17px;
  background: transparent;
  border: none;
}

#portrait {
  width: 150%;
  border:none;
  left: 50%;
  margin-top: 30px;
}

/* Contact page */

#contactTitle {
  position: absolute;
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 42px;
  color: #FFFFFF;
  width: 502px;
  height: 90px;
  left: 218px;
  top: 147px;
}

#contactText {
  position: absolute;
  width: 487px;
  height: 235px;
  left: 218px;
  top: 267px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  color: #FFFFFF;
}
